---
layout: default
---

<div class="posts">
  <div style="padding-top: 10px;">
      <!-- YOUTUBE SUBSCRIBE BUTTON -->
      <script src="https://apis.google.com/js/platform.js"></script>

      <div class="g-ytsubscribe" data-channelid="UCsEr7iA2ztWeSQ4DAl6qzaA" data-layout="full" data-count="default"></div>
      <!-- YOUTUBE SUBSCRIBE BUTTON END -->
  </div>
  {% for post in site.posts %}
   {% if post.title contains 'Beer Review' %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
   {% endif %}
  {% endfor %}
</div>
