---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
      <a href="https://learn.beerandbrewing.com/?tap_a=21406-5886bb&tap_s=351518-7ef3ec" target="_BLANK" rel="nofollow"><img src="https://static.tapfiliate.com/594028a6b8dff.jpg?a=21406-5886bb&s=351518-7ef3ec" border="0"></a>
      {{ content }}

<table style="width: 100%">
<tr>
  <td><h3> Like the glasses I use?</h3></td> 
  <td><h3> Craft Beer for The People [Book]</h3></td>
</tr>
<tr>
  <td>
	<form action="https://www.amazon.co.uk/gp/product/B00UCVD7IY/ref=as_li_tl?ie=UTF8&tag=beermeuppleas-21&camp=1634&creative=6738&linkCode=as2&creativeASIN=B00UCVD7IY&linkId=612452c01d2bdbe1fbd745fd4a622f98">
   	   <input type="submit" style="font-size: 16px;" value="Click Here to Buy on Amazon" />
	</form>
  </td>
  <td>
      <form action="https://www.amazon.co.uk/gp/product/1784722952/ref=as_li_tl?ie=UTF8&tag=beermeuppleas-21&camp=1634&creative=6738&linkCode=as2&creativeASIN=1784722952&linkId=bb2bfe67f34ad9cd30b6de615ec3983f">
           <input type="submit" style="font-size: 16px;" value="Click Here to Buy on Amazon" />                         
        </form>  
</table>

  <div class="PageNavigation">
  {% if page.previous.url %}
   <a class="prev" href="/beermeupplease{{page.previous.url}}"><b><-- Previous | </b>&laquo; {{page.previous.title}}</a>
  {% endif %}
  <br><br>
  {% if page.next.url %}
    <a class="next" href="/beermeupplease{{page.next.url}}">{{page.next.title}} &raquo; <b>Next --></b></a>
  {% endif %}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
