---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
      <!-- YOUTUBE SUBSCRIBE BUTTON -->
      <script src="https://apis.google.com/js/platform.js"></script>

      <div class="g-ytsubscribe" data-channelid="UCsEr7iA2ztWeSQ4DAl6qzaA" data-layout="full" data-count="default"></div>
      <!-- YOUTUBE SUBSCRIBE BUTTON END -->
      {{ content }}

<table style="width: 100%">
  <h3>Brew your own Beer</h3>
<tr>
  <td></td> 
  <td></td>
  <td></td>
</tr>
<tr>
  <td>
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=lewisgavin-21&marketplace=amazon&region=GB&placement=B0738HVWWH&asins=B0738HVWWH&linkId=0fb6132046adbd2058c00b5892bb7a8a&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
  </td>
  <td>
   <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ac&ref=tf_til&ad_type=product_link&tracking_id=lewisgavin-21&marketplace=amazon&region=GB&placement=B07NYSQXXX&asins=B07NYSQXXX&linkId=c1de769bc2422c2fe8ea9909de810417&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
  </td>
  <td>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ac&ref=tf_til&ad_type=product_link&tracking_id=lewisgavin-21&marketplace=amazon&region=GB&placement=B003A8T956&asins=B003A8T956&linkId=b709aa2275336e34c68729f60bb85657&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
  </td>
</table>


<div class="PageNavigation">
    <h1>Recommended Posts</h1>
  {% if page.previous.url %}
      <h1><a href="/beermeupplease{{ page.previous.url }}">{{page.previous.title}}</a></h1>

      <div class="entry">
        {{ page.previous.excerpt }}
      </div>

      <a href="/beermeupplease{{ page.previous.url }}" class="read-more">Read More</a>
  {% endif %}
  <br><br>
  {% if page.next.url %}
    <h1><a href="/beermeupplease{{ page.next.url }}">{{page.next.title}}</a></h1>

      <div class="entry">
        {{ page.next.excerpt }}
      </div>

      <a href="/beermeupplease{{ page.next.url }}" class="read-more">Read More</a></a>
  {% endif %}
  </div>


  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
